* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}


/* Common styles */
.max-width {
    max-width: 1320px;
    margin: 0 auto;
}

.inter {
    font-family: "Inter", sans-serif;
}

.color-primary {
    color: red;
}

.btn-primary {
    padding: 15px 28px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}

.btn-primary:hover {
    background-color: rgb(170, 59, 59);
    transition: .5s;
}

/* Header styles */
.header {
    background-image: url(../images/Banner\ Image.png);

}

/* banner */
.banner {
    margin: 100px 0;
    text-align: center;
}

.banner-capiton {
    font-size: 32px;
    font-weight: 400;
    color: white;
}

.banner-title {
    font-size: 72px;
    font-weight: 900;
    color: white;
}

.banner-content {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    padding: 189px 100px;
    border-radius: 15px;

}

/* 60% off section styles */

.off {
    margin: 150px;
    text-align: center;
}

.off-title {
    font-size: 88px;
    font-weight: 700;

    margin-bottom: 50px;
}

.off-caption {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 20px;
}

.off-cat {
    font-size: 48px;
    font-weight: 700;
    color: rgb(7, 2, 17);
    margin-bottom: 50px;
}

/* Midnight party secetion */
.party {
    margin: 100px 0;
    background-image: url(../images/Vectorrr.png);
}

.party-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 67.6px 130px;
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0));
    border-radius: 15px;
}


.party-title {
    font-size: 64px;
    font-weight: 900;
    color: white;
    margin-bottom: 20px;
}

.party-description {
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 50px;
}

.join {
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: white;
}

.join:hover {
    text-decoration: underline;
}

/* schedule */
.schedule {
    text-align: center;
    margin: 100px auto;
    padding: 100px;
    border-radius: 15px;
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.sch {
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 600;
    color: rgb(7, 2, 17);
}

/* comming soon styels */

.comming-soon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
    margin: 100px auto;
}
.c-soon{
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.soon-title {
    font-size: 24px;
    font-weight: 500;
}

.soon-caption {
    font-size: 48px;
    font-weight: 900;
    color: rgb(7, 2, 17);
}

.soon-description {
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
}

.year{
    width: 33%;
}

.year-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.year-description {
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 20px;
}

.comming-soon > img{
    padding: 30px;
    border: 15px solid red;
    border-radius: 50%;
    width: 33%;
}

